# Example for local environment

# Template file for defining environment variables for development environment, clone it into a '.env' file
# On production environments instead, the infrastructure should provide the environment variables
# Values with spaces must be inside single quotes for .env files

KAFKA_BROKER_HOST=kafka-container:9092
KAFKA_TOPIC=some-topic
